@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: #CE8F5D;
    color: white;
}

.header {
    height: 10em;
    display: flex;
    align-items: center;
    justify-content: center;
}

.auto{
    background-color: #4D4848;
    width:1000px;
    height:800px;
    margin-left:450px;
    border-radius: 8px;
    border: 1px solid #4E4E4E;
    font-weight: 400;
}

.header h1 {
    font-size: 5em;
}

.richag{
    width:200px;
    height:300px;
    margin-left:500px;
}

.richag:active{
    background-image:url(images/pack26542.png);
    mask-image: url(images/pack26542.png);
}

.container{
    text-align: center;
    font-size: 30px;
    margin-top: 350px;
    position: absolute;
}

.container1 {
    display: flex;
    width: 100vw;
    height: calc(100vh - 10em);
    
    margin-left:370px ;
}

input {
    margin: 1.5em;
    padding: 1em;
    border-color: #39383b;
    color: #4560e5;
    border-radius: 5px; 
}

h2 {
    text-align: center;
}

button {
    margin-left: 300px;
    font-size: 15px;
    padding: 1em;
    margin: 1.5em;
    color: black;
    background: white;
    border-color: #39383b;
    border-radius: 5px;
}

form {
    display: flex;
    justify-content: center;
    margin-top: -120px;
    flex-direction: column;
    align-items: center;
}

